#header-container{
    width: 100%;
    height: 1.25em;
    font-size: 2em;
    background-color: black;
    -webkit-text-fill-color: white;
    margin: 0px;
    padding: 0;
    text-align: center;
}

header{
    margin: 0;
}
body{
    margin: 0;
    height: 100%;
}
root{
    height: 100%;
}
#control-panel {
    display: inline;
}
div {
    display: inherit;
}
#button-container{
    margin-left: 2em;
    margin-right: 1em;
}
#map{
    width:100%;
    height: 91%;
    margin-top: 1em;
    position:absolute;
}






/*-------------------------Slider---------------------------*/
.slider {
  -webkit-appearance: none;
  width: 20%;
  height: 1em;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .1s;
  transition: opacity .1s;
    align-self: baseline;
    margin-left: 2em;
    margin-top: 1em;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15em;
  height: 1em;
  background: #000000;
  cursor: pointer;
}
/*-------------------------End Slider---------------------------*/